//colors
:root {
    --body-color: #fff;
    --primary-pink: #F27999;
    --secondary-pink: #FFB7BA; 
    --primary-blue: #83A3DB;
    --primary-btn-hover: #ef6187;
    --secondary-btn-hover: #7196d6;
  }


//media query breakpoints

//spacer
$spacer: 20px;


//button styles

